<div class="w3-content">
    <div *ngFor="let c of commandes">
        <div *ngIf="c.commande" class="w3-ul">
            <li class="w3-display-container">
                <h1>Commande du {{c.commande.cde_date | date: 'fullDate': undefined : 'fr'}}</h1>
                <div *ngIf="c.commande.cde_statut=='Commandé'" class="w3-green w3-margin w3-padding w3-display-topright">
                    Commandé <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>

                <p style="margin-top: 50px;">Ce jour là, vous avez commandé {{c.commande.films.length}} film(s):</p>
                <div class="w3-content w3-margin w3-padding">
                    <div *ngFor="let f of c.commande.films" class="w3-ul">
                        <li class="w3-row">
                            <img class="w3-image w3-round w3-third" style="width:100%;max-width:100px" alt="Affiche du Film" src="{{f.fil_bandeAnnonce}}" />
                            <div class="w3-twothird">
                                <p class="w3-margin">{{f.fil_nom}}</p>
                                <button routerLink="/film/{{f.fil_idFilm}}" class="w3-btn w3-theme w3-large w3-margin-left">Voir plus<i class="w3-margin-left fa fa-eye "></i></button>
                            </div>
                        </li>

                        <li class="divider"></li>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
        </div>
    </div>

    <div *ngIf="commandes==null">
        <div class="w3-content w3-display-middle">
            <h1 class="w3-center" style="font-size: 20px;
        margin-bottom: 35px;">Aucune commande n'a été effectuée</h1>
            <a routerLink="" class="w3-buttton w3-display-center w3-center w3-black w3-padding w3-margin-top" style="margin-left: 19px;
        font-size: 19px;">COMMANDER MAINTENANT</a>
        </div>
    </div>
</div>