<div class="w3-content">
    <div *ngFor="let c of commandes">
        <div *ngIf="c.commande" class="w3-ul">
            <li class="w3-display-container">
                <h1>Commande {{c.commande.cde_idCommande}}</h1>
                <h5><i class="fa fa-calendar" aria-hidden="true"></i> {{c.commande.cde_date}}</h5>
                <div *ngIf="c.commande.cde_statut=='Commandé'" class="w3-green w3-margin w3-padding w3-display-topright">
                    Commandé <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>

                <div class="w3-content w3-margin w3-padding">
                    <div *ngFor="let f of c.commande.films" class="w3-ul">
                        <li>{{f.fil_nom}}</li>
                        <li class="divider"></li>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
        </div>
    </div>

    <div *ngIf="commandes==0">
        <div class="w3-content w3-display-middle">
            <h1 class="w3-center">Aucune commande n'a été effectuée</h1>
        </div>
    </div>
</div>