<div class="w3-bar-block" style="height:856px; position:fixed">
    <div href="#" class="w3-bar-item w3-large w3-margin-top" style="font-weight:bold">Filtres de recherche :</div>

    <div href="#genre" class="w3-bar-item w3-margin-top" style="font-weight:bold">Genre :</div>
    <ul class="w3-ul">
        <li href="#horreur" class="w3-bar-item w3-button w3-text-theme-d4">Horreur</li>
        <li href="#comedie" class="w3-bar-item w3-button w3-text-theme-d4">Comedie</li>
        <li href="#drame" class="w3-bar-item w3-button w3-text-theme-d4">Drame</li>
    </ul>

    <div href="#genre" class="w3-bar-item w3-margin-top" style="font-weight:bold">Date :</div>
    <ul class="w3-ul">
        <li href="#date8090" class="w3-bar-item w3-button w3-text-theme-d4">1980-1990</li>
        <li href="#date9000" class="w3-bar-item w3-button w3-text-theme-d4">1990-2000</li>
        <li href="#date0010" class="w3-bar-item w3-button w3-text-theme-d4">2000-2010</li>
        <li href="#date1020" class="w3-bar-item w3-button w3-text-theme-d4">2010-2020</li>
    </ul>
</div>
