<div class="w3-white w3-half w3-padding" style="margin-left: 23%; width: 50%; min-width: 750px; min-height: 870px;">

    <!-- La ligne de recherche de film (bouton + recherche) -->

    <div class="w3-display-container w3-margin-top">
        <div style="border: 1px solid #DDD;  width: 50%" class="w3-round-xxlarge w3-padding">
            <i class="fa fa-search w3-margin-right"></i>
            <input type="text" placeholder="Rechercher un film.." (input)="recherche($event)" style="border: none;outline: none; width:80%">
        </div>

        <div class="w3-display-topright">
            <p style="font-weight:bold">Trier par :</p>
            <button class="w3-button w3-hover-theme">Pertinence</button>
            <button class="w3-button w3-hover-theme">Récent</button>
        </div>
    </div>

    <!-- La liste des films -->
    <h2 class="w3-margin-top-nav w3-margin-left">Résultat de votre recherche :</h2>
    <div *ngIf="films!=null">
        <ul class="w3-ul w3-margin-top w3-padding">
            <div *ngFor="let f of films">
                <li *ngIf="isDisplayable(f.genre,f.fil_dateSortie)" class="w3-cont w3-row">
                    <img class="w3-col w3-image w3-card-4 w3-round w3-margin" style="width:100%;max-width:250px" alt="Affiche du Film" src="{{f.fil_bandeAnnonce}}" />
                    <div class="w3-display-container w3-margin-top" style="height:350px">
                        <h4><b>{{f.fil_nom}}</b></h4>
                        <p class="w3-margin-top w3-margin-bottom" style="text-align: justify;">{{f.fil_resume}}</p>
                        <!-- TO DO rajouter les genres-->
                        <div><b class="w3-margin-right">Genre :</b>
                            <span class="w3-tag" style="margin-left: 4px; background-color: darkorange;" *ngFor="let g of f.genre">
                                {{g.gen_nom}}
                            </span>
                        </div>
                        <p><b class="w3-margin-right">Note :</b>{{f.fil_noteMoyenne}}</p>
                        <button routerLink="film/{{f.fil_idFilm}}" class="w3-btn w3-theme w3-large w3-display-bottomright w3-margin-left">Voir plus<i class="w3-margin-left fa fa-eye"></i></button>
                    </div>
                </li>
            </div>
        </ul>
    </div>