<div *ngIf="panierIDs.length==0">
    <div class="w3-content w3-display-middle">
        <img class="w3-center" style="width:100%;max-width:400px" src="{{img}}" />
        <h1 class="w3-center">Votre panier est vide</h1>
        <a class="w3-buttton w3-display-center w3-center w3-black w3-padding w3-margin-top">Commandé Maintenant</a>
    </div>
</div>
<div *ngIf="panierIDs.length!=0">
    <div class="w3-display-middle w3-content w3-margin-top">
        <img class="w3-margin w3-center" style="width:100%;max-width:200px" src="{{img}}" />
        <h1 class="w3-center">Panier</h1>
        <div>
            <div *ngFor="let f of listefilm">
                <div *ngIf="!nonDisplayable.includes(f.fil_idFilm)" class="w3-ul w3-card">
                    <li class="w3-display-container w3-margin">
                        {{f.fil_nom}}
                        <button class="w3-button w3-display-right" (click)="supprimer(f.fil_idFilm)"><i class="fa fa-trash "></i></button>
                    </li>
                </div>
            </div>

            <button class="w3-button w3-theme w3-margin" (click)="valider()">Valider la commande <i class="w3-margin-left fa fa-shopping-cart "></i></button>
        </div>
    </div>
</div>