<div class="w3-center w3-card w3-display-middle" style="height: 400px; width: 350px;">
    <p class="w3-theme-l1 w3-padding" style="font-size: 36px;"><b>Connexion</b></p>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Login" name="login" class="form-control" ngModel>
            </mat-form-field>
        </div>
        <br>
        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Mot de passe" name="password" class="form-control" ngModel>
            </mat-form-field>
        </div>
        <br>
        <button mat-raised-button class="w3-theme" type="submit">Valider</button>
    </form>
</div>

<p *ngIf="badLogin" class="w3-text-red w3-center w3-margin">Mauvais identifiant, veuillez réessayer</p>